@model SalonManager.Web.ViewModels.UserViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Criar Usuário";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<div class="container">
    <h1 class="mt-5 mb-4 text-center">Criar Usuários</h1>
    <div class="row justify-content-center">
        <div class="col-md-4">

            <form asp-action="Create" method="post">
                <div class="mb-3 mt-3">
                    <input type="text" asp-for="Username" class="form-control" placeholder="Username" name="Username" />
                    @Html.ValidationMessageFor(model => model.Username)
                </div>
                <div class="mb-3 mt-3">
                    <input type="text" asp-for="Email" class="form-control" placeholder="Email" name="Email" />
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
                <div class="mb-3 mt-3">
                    <input type="password" asp-for="PasswordHash" class="form-control" placeholder="Senha" name="PasswordHash" />
                    @Html.ValidationMessageFor(model => model.PasswordHash)
                </div>
                <div class="mb-3 mt-3">
                    <select asp-for="IsAdmin" class="form-select" name="IsAdmin">
                        <option value="true">Administrador</option>
                        <option value="false">Membro</option>
                    </select>
                    @Html.ValidationMessageFor(model => model.IsAdmin)
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                    <a href="@Url.Action("Index")" class="btn btn-secondary ml-2">Cancelar</a>
                </div>
            </form>


        </div>
    </div>
</div>

